.search{
    grid-column: 6/content-end;
    @include respond(tab-land){
        grid-column: 5/content-end;
    }
    @include respond(phone){
        grid-row:search-start/search-end;
        grid-column: start/end;
        margin-top: 20rem;
    }

    display:flex;
    align-items: center;
    justify-content: space-around;
    @include respond(tab-port){
        justify-content: center;
    }
    
    flex-direction: column;
    align-content: center;
    // Ethan Marcotte formula;
    // target/context=result
    &_heading{
        // context is the height of the parent element = 635.04px
        // target is the required px = 190.5px
        height:17.24%; //190.5px; // 190.5/635.04 = 0.1724 = 17.24%

        display:flex;
        align-items:end;
        @include respond(phone){
            align-items: center;
            text-align: center;
        }

        // context is based on the main font-size that we set = 1 rem = 10 px;
        // target is the required px= 50px;
        font-size: 5rem;// 50px; // 50/10 = 5 

        text-transform: uppercase;
        font-weight: 900;
        color:$white;    
    }
    &_area{
        // context is the height of the parent element = 640px
        // target is the required px = 640px
        width:100%;// 640px; // 640/640=1 =100%;

        // context is the height of the parent element = 635.04px
        // target is the required px = 254.01px
        height:39.99%; // 254.01/635.04= 0.3999 = 39.99%

        display:flex;
        flex-direction: row;
        align-items:start;
        justify-content: space-between;
        @include respond(tab-port){
            margin-top: 8rem;
        } 
        @include respond(phone){
            width:85%;
        }
        &_box{
            // context is the height of the parent element = 640px
            // target is the required px = 486.4px
            width:76%;// 486.4px; // 486.4/640 = 0.76 =76%

            // context is the height of the parent element = 254.01px
            // target is the required px = 48.25px
            height:18.99%;// 48.25px; // 48.25/254.01 =0.1899 = 18.99%

            // context is based on the main font-size that we set = 1 rem = 10 px;
            // target is the required px= 6px;
            border-radius:0.6rem;// 6px; // 6/10 =0.6

            background:linear-gradient(to right, $color-secondary, $white);
            color: darken($color-primary, 20%);
            border:none;
            // context is based on the main font-size that we set = 1 rem = 10 px;
            // target is the required px= 50px;
            font-size:2rem;// 20px; // 20/10=2 

            font-weight: 100;
            transition: all .3s;
            &:hover{
                background-color: darken($white, 15%);
                transform: scale(1.1);
                box-shadow: 0  2rem 4.5rem rgba($black, .4);
            }
            &::placeholder{
                color:$color-primary;
                text-transform: uppercase;
                text-align: center;
                font-size:1.5rem;
            }
            &:focus{
                border:none;
                outline:none;
                transform: scale(0.95);
            }
        }
        &_btn{
            @include btn(2rem, 1.6rem);
        
        }
    }
}